*{
  padding: 0px;
  margin: 0;
}

html{
  height: 100%;
}

body{
  font-family:"Times New Roman",Georgia,Serif;
  height: 100%;
  /*background-color: #000000;*/
  padding-top: 3%;
  background: -webkit-linear-gradient(left,rgb(121,150,137),rgb(55,60,110)) repeat-y;

}

.card-container{
  width: 600px;
  margin: 0 auto;
  -webkit-animation: myCard-container;
  -o-animation: myCard-container;
  animation: card-containerLoad 2s;
}

@keyframes card-containerLoad {
  from{
    opacity:0;
    transform: translate3d(10%,0,0)
  }
  to{
    opacity:1;
    transform: none
  }
}

.card-container .image-wrapper{
  font-size: 0px;
}

.card-container .image-wrapper img{
  width: 600px;
  border-radius: 8px 8px 0 0;
}

.card-container .title-wrapper{
  background-color: white;
  border-radius: 0 0 8px 8px;
}

.card-container .title-wrapper .title{
  text-align: center;
  padding: 50px 0 30px 0;
}

.card-container .title-wrapper .subtitle{
  text-align: center;
  font-size: 10px;
  padding: 0 0 50px 0;
  color: rgb(79,92,99);
}

.card-container .title-wrapper hr {
  border:0;
  height: 1px;
  background-color: rgb(179,192,199);;
  margin: 0 80px;

}

.card-container .title-wrapper .icon-btns ul{
  list-style: none;
  padding: 20px 0 50px 0;
  margin: 0;
  text-align: center;
}

.card-container .title-wrapper .icon-btns ul li:hover{
  border-color: rgb(179,192,199);
}


.card-container .title-wrapper .icon-btns ul li {
  display: inline-block;
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 40%;
  transition: .2s;

}

.card-container .title-wrapper .icon-btns ul li i:hover{
  color: rgb(179,192,199);
}

.card-container .title-wrapper .icon-btns ul li i{
  font-size: 20px;
  transition: .2s;

}



